body{
	margin:0;
	padding:0;
	color:#999;
}


#container{
	width:555px;
	height:auto;
	margin-left:370px;
	margin-right:370px;
	margin-top:3px;
	margin-bottom:55px;
}

#Header {
	height:33px;
	background-image:url(tuffah1.jpg);
	background-repeat:no-repeat;
		
}

h1{
	font-style:inherit;
	font:bold;
	color:#333;
}

}

#content{
	height:auto;
}

#footer{
	height:100px;
}

#main{
	height:55px;
	background-origin:border-box;


